[submodule "defi-stablecoin/lib/forge-std"]
	path = defi-stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "defi-stablecoin/lib/openzeppelin-contracts"]
	path = defi-stablecoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "defi-stablecoin/lib/chainlink-brownie-contracts"]
	path = defi-stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
